In [3]:
import csv
with open('dataset/MTA_Turnstile_2014_2.csv', 'r') as fi:
    reader = csv.DictReader(fi)
    row1 = next(reader)
    print row1

{'REGULAR': 'REGULAR', '10/11/2014': '10/11/2014', 'R1': 'R1', '01:00:00': '05:00:00', '00-00-00': '00-00-00', '000114108': '000114114', 'R001': 'R001', 'BMT': 'BMT', 'A060': 'A060', '0000805439': '0000805459', 'WHITEHALL ST': 'WHITEHALL ST'}

In [30]:
import pandas as pd

data = pd.read_csv("dataset/MTA_Turnstile_2014_2.csv", sep=',', header=None, usecols=[1,6,9,10])
data.columns = ["Remote", "Date", "Entry", "Exit"]
data.head(2)

  Remote        Date   Entry    Exit
0   R001  10/11/2014  805439  114108
1   R001  10/11/2014  805459  114114

In [31]:
remote_data = pd.read_csv("dataset/Remote-Booth-Station.csv", sep=',', usecols=[0,2])
remote_data.head(2)

  Remote       Station
0   R001  WHITEHALL ST
1   R001  WHITEHALL ST

In [32]:
merged = data.merge(remote_data,how='inner',on='Remote')
merged.tail(10)

        Remote        Date  Entry  Exit         Station
4057227   R552  12/25/2014  31889  2362  JOURNAL SQUARE
4057228   R552  12/25/2014  31890  2362  JOURNAL SQUARE
4057229   R552  12/25/2014  31898  2363  JOURNAL SQUARE
4057230   R552  12/25/2014  31905  2364  JOURNAL SQUARE
4057231   R552  12/25/2014  31910  2364  JOURNAL SQUARE
4057232   R552  12/26/2014  31910  2364  JOURNAL SQUARE
4057233   R552  12/26/2014  31918  2365  JOURNAL SQUARE
4057234   R552  12/26/2014  31956  2366  JOURNAL SQUARE
4057235   R552  12/26/2014  31972  2367  JOURNAL SQUARE
4057236   R552  12/26/2014  31986  2368  JOURNAL SQUARE

In [37]:
weather_data = pd.read_csv("dataset/clean-weather-data/weather.csv", sep=',', header=None)
weather_data.columns = ['Date','Event']
weather_data = weather_data.fillna('Normal')
weather_data.head()

         Date       Event
0  12/01/2010  Fog , Rain
1  12/02/2010      Normal
2  12/03/2010      Normal
3  12/04/2010      Normal
4  12/05/2010      Normal

In [46]:
remerged = merged.merge(weather_data,how='inner',on='Date')
remerged[500000:510000]

       Remote        Date     Entry    Exit      Station   Event
500000   R204  10/19/2014   4661030  315619   CHURCH AVE  Normal
500001   R204  10/19/2014   4661070  315621   CHURCH AVE  Normal
500002   R204  10/19/2014   4661070  315621   CHURCH AVE  Normal
500003   R204  10/19/2014   4661187  315625   CHURCH AVE  Normal
500004   R204  10/19/2014   4661187  315625   CHURCH AVE  Normal
500005   R204  10/19/2014   4661324  315631   CHURCH AVE  Normal
500006   R204  10/19/2014   4661324  315631   CHURCH AVE  Normal
500007   R204  10/19/2014   4661412  315640   CHURCH AVE  Normal
500008   R204  10/19/2014   4661412  315640   CHURCH AVE  Normal
500009   R204  10/19/2014   6868757  314154   CHURCH AVE  Normal
500010   R204  10/19/2014   6868757  314154   CHURCH AVE  Normal
500011   R204  10/19/2014   6868767  314157   CHURCH AVE  Normal
500012   R204  10/19/2014   6868767  314157   CHURCH AVE  Normal
500013   R204  10/19/2014   6868846  314159   CHURCH AVE  Normal
500014   R204  10/19/2014   6868846  314159   CHURCH AVE  Normal
500015   R204  10/19/2014   6869063  314162   CHURCH AVE  Normal
500016   R204  10/19/2014   6869063  314162   CHURCH AVE  Normal
500017   R204  10/19/2014   6869289  314168   CHURCH AVE  Normal
500018   R204  10/19/2014   6869289  314168   CHURCH AVE  Normal
500019   R204  10/19/2014   6869446  314176   CHURCH AVE  Normal
500020   R204  10/19/2014   6869446  314176   CHURCH AVE  Normal
500021   R204  10/19/2014  10436883  320766   CHURCH AVE  Normal
500022   R204  10/19/2014  10436883  320766   CHURCH AVE  Normal
500023   R204  10/19/2014  10436902  320767   CHURCH AVE  Normal
500024   R204  10/19/2014  10436902  320767   CHURCH AVE  Normal
500025   R204  10/19/2014  10437019  320769   CHURCH AVE  Normal
500026   R204  10/19/2014  10437019  320769   CHURCH AVE  Normal
500027   R204  10/19/2014  10437359  320775   CHURCH AVE  Normal
500028   R204  10/19/2014  10437359  320775   CHURCH AVE  Normal
500029   R204  10/19/2014  10437715  320782   CHURCH AVE  Normal
...       ...         ...       ...     ...          ...     ...
509970   R343  10/19/2014   1191438   16989  FRANKLIN ST  Normal
509971   R343  10/19/2014   1191453   16989  FRANKLIN ST  Normal
509972   R343  10/19/2014   1191453   16989  FRANKLIN ST  Normal
509973   R343  10/19/2014   1191528   16991  FRANKLIN ST  Normal
509974   R343  10/19/2014   1191528   16991  FRANKLIN ST  Normal
509975   R343  10/19/2014   1191737   16993  FRANKLIN ST  Normal
509976   R343  10/19/2014   1191737   16993  FRANKLIN ST  Normal
509977   R343  10/19/2014   1191915   16995  FRANKLIN ST  Normal
509978   R343  10/19/2014   1191915   16995  FRANKLIN ST  Normal
509979   R343  10/19/2014   8521577  263682  FRANKLIN ST  Normal
509980   R343  10/19/2014   8521577  263682  FRANKLIN ST  Normal
509981   R343  10/19/2014   8521612  263682  FRANKLIN ST  Normal
509982   R343  10/19/2014   8521612  263682  FRANKLIN ST  Normal
509983   R343  10/19/2014   8521631  263684  FRANKLIN ST  Normal
509984   R343  10/19/2014   8521631  263684  FRANKLIN ST  Normal
509985   R343  10/19/2014   8521751  263687  FRANKLIN ST  Normal
509986   R343  10/19/2014   8521751  263687  FRANKLIN ST  Normal
509987   R343  10/19/2014   8521979  263691  FRANKLIN ST  Normal
509988   R343  10/19/2014   8521979  263691  FRANKLIN ST  Normal
509989   R343  10/19/2014   8522187  263693  FRANKLIN ST  Normal
509990   R343  10/19/2014   8522187  263693  FRANKLIN ST  Normal
509991   R343  10/19/2014    313364   30012  FRANKLIN ST  Normal
509992   R343  10/19/2014    313364   30012  FRANKLIN ST  Normal
509993   R343  10/19/2014    313373   30012  FRANKLIN ST  Normal
509994   R343  10/19/2014    313373   30012  FRANKLIN ST  Normal
509995   R343  10/19/2014    313378   30014  FRANKLIN ST  Normal
509996   R343  10/19/2014    313378   30014  FRANKLIN ST  Normal
509997   R343  10/19/2014    313406   30019  FRANKLIN ST  Normal
509998   R343  10/19/2014    313406   30019  FRANKLIN ST  Normal
509999   R343  10/19/2014    313438   30024  FRANKLIN ST  Normal

[10000 rows x 6 columns]