In [1]:
sc

In [87]:
def mapper1(index,data):
    # skip header row
    if index==0:
        data.next()
    import csv
    reader = csv.reader(data)
    for row in reader:
        if row[1].split('/')[2] != '2010':
            month = row[1].split('/')[0]
            station = row[3]
            numPeople = row[5].split('.')[0]
            if month[0] == '0':
                month = month[1]

            if month == '3' or month == '4' or month == '5':
                yield (('Spring', station), int(numPeople))
            elif month == '6' or month == '7' or month == '8':
                yield (('Summer', station), int(numPeople))
            elif month == '9' or month == '10' or month == '11':
                yield (('Fall', station), int(numPeople))
            else:
                yield (('Winter', station), int(numPeople))
        
mtaData = sc.textFile('dataset/clean-mta-data/clean-mta-data.csv',use_unicode=False).cache()

# sum up all the entry by weather
# returns (event, total_people)
rdd1 = mtaData.mapPartitionsWithIndex(mapper1)    \
                    .reduceByKey(lambda x,y: x+y) \
                    .sortBy(lambda x: x[1],ascending=False)

rdd1.take(10)

[(('Spring', '34 ST-PENN STA'), 75062082),
 (('Winter', '34 ST-PENN STA'), 73585727),
 (('Summer', '34 ST-PENN STA'), 73333783),
 (('Fall', '34 ST-PENN STA'), 73013790),
 (('Spring', '42 ST-GRD CNTRL'), 63065595),
 (('Summer', '42 ST-GRD CNTRL'), 62449863),
 (('Fall', '42 ST-GRD CNTRL'), 61380125),
 (('Winter', '42 ST-GRD CNTRL'), 60425383),
 (('Winter', '34 ST-HERALD SQ'), 53123893),
 (('Spring', '34 ST-HERALD SQ'), 50445785)]

In [88]:
rdd2 = rdd1.filter(lambda x: 'Spring' in x[0])
rdd2.take(10)

[(('Spring', '34 ST-PENN STA'), 75062082),
 (('Spring', '42 ST-GRD CNTRL'), 63065595),
 (('Spring', '34 ST-HERALD SQ'), 50445785),
 (('Spring', '86 ST'), 48336234),
 (('Spring', '14 ST-UNION SQ'), 45592960),
 (('Spring', '42 ST-PA BUS TE'), 41373075),
 (('Spring', '42 ST-TIMES SQ'), 39134843),
 (('Spring', '96 ST'), 35488830),
 (('Spring', '125 ST'), 35239038),
 (('Spring', 'FULTON ST'), 34440217)]

In [89]:
rdd3 = rdd1.filter(lambda x: 'Summer' in x[0])
rdd3.take(10)

[(('Summer', '34 ST-PENN STA'), 73333783),
 (('Summer', '42 ST-GRD CNTRL'), 62449863),
 (('Summer', '34 ST-HERALD SQ'), 48578546),
 (('Summer', '86 ST'), 44222320),
 (('Summer', '14 ST-UNION SQ'), 44190218),
 (('Summer', '42 ST-PA BUS TE'), 40996359),
 (('Summer', '42 ST-TIMES SQ'), 39624473),
 (('Summer', 'FULTON ST'), 34662545),
 (('Summer', '125 ST'), 33109561),
 (('Summer', '96 ST'), 32549552)]

In [90]:
rdd4 = rdd1.filter(lambda x: 'Fall' in x[0])
rdd4.take(10)

[(('Fall', '34 ST-PENN STA'), 73013790),
 (('Fall', '42 ST-GRD CNTRL'), 61380125),
 (('Fall', '34 ST-HERALD SQ'), 49500820),
 (('Fall', '86 ST'), 47428122),
 (('Fall', '14 ST-UNION SQ'), 44512456),
 (('Fall', '42 ST-PA BUS TE'), 40515056),
 (('Fall', '42 ST-TIMES SQ'), 39592420),
 (('Fall', 'FULTON ST'), 34750229),
 (('Fall', '96 ST'), 34407928),
 (('Fall', '125 ST'), 34188308)]

In [86]:
rdd5 = rdd1.filter(lambda x: 'Winter' in x[0])
rdd5.take(10)

[(('Winter', '34 ST-PENN STA'), 3332634),
 (('Winter', '42 ST-GRD CNTRL'), 2694164),
 (('Winter', '34 ST-HERALD SQ'), 2425989),
 (('Winter', '86 ST'), 2163883),
 (('Winter', '14 ST-UNION SQ'), 1892127),
 (('Winter', '42 ST-PA BUS TE'), 1825622),
 (('Winter', '42 ST-TIMES SQ'), 1817106),
 (('Winter', '59 ST-COLUMBUS'), 1702549),
 (('Winter', '59 ST'), 1560263),
 (('Winter', '96 ST'), 1512026)]