In [1]:
import pandas as pd
import datetime

In [2]:
mta_2011 = pd.read_csv("dataset/mta-data/MTA_Turnstile_2011.csv", sep=',', header=None, usecols=[1,3,4,6,7])
mta_2012 = pd.read_csv("dataset/mta-data/MTA_Turnstile_2012.csv", sep=',', header=None, usecols=[1,3,4,6,7])
mta_2013 = pd.read_csv("dataset/mta-data/MTA_Turnstile_2013.csv", sep=',', header=None, usecols=[1,3,4,6,7])
mta_2014_1 = pd.read_csv("dataset/mta-data/MTA_Turnstile_2014_1.csv", sep=',', header=None, usecols=[1,3,4,6,7])
mta_2014_2 = pd.read_csv("dataset/mta-data/MTA_Turnstile_2014_2.csv", sep=',', header=None, usecols=[1,6,7,9,10])
mta_2015 = pd.read_csv("dataset/mta-data/MTA_Turnstile_2015.csv", sep=',', header=None, usecols=[1,6,7,9,10])
mta_2016 = pd.read_csv("dataset/mta-data/MTA_Turnstile_2016.csv", sep=',', header=None, usecols=[1,6,7,9,10])

location_data = pd.read_csv("dataset/Remote-Booth-Station.csv", sep=',', usecols=[0,2])
location_data = location_data.drop_duplicates()
location_data = location_data.drop_duplicates(['Remote'], keep='first')

weather_data = pd.read_csv("dataset/clean-weather-data/weather.csv", sep=',', header=None)
weather_data.columns = ['Date','Event']
weather_data = weather_data.fillna('Normal')

C:\Users\Victor\Anaconda3\envs\python2\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
print mta_2011.shape
print mta_2012.shape
print mta_2013.shape
print mta_2014_1.shape
print mta_2014_2.shape
print mta_2015.shape
print mta_2016.shape

(11322116, 5)
(11015011, 5)
(11464410, 5)
(8925455, 5)
(1868519, 5)
(10028878, 5)
(10267810, 5)

In [4]:
def convert_datetime(dt):
    for fmt in ('%m-%d-%y', '%Y-%m-%d'):
        try:
            return datetime.datetime.strptime(dt, fmt).strftime('%m/%d/%Y')
        except ValueError:
            pass

def cleanOld(mta_data, weather_data, location_data):
    mta_data.columns = ["Remote", "Date", "Hour", "Entry", "Exit"]
    
    # Fixing formats and removing unwanted dates
    #mta_data = mta_data.dropna(how='any')
    #mta_data['Date'] = mta_data['Date'].astype('str')
    #mta_data = mta_data.loc[(mta_data['Date'].str.contains("-") == True)]
    mta_data['Entry'] = mta_data['Entry'].astype('str')
    mta_data['Exit'] = mta_data['Exit'].astype('str')
    mta_data = mta_data.loc[(mta_data['Entry'].str.isnumeric() == True) & (mta_data['Exit'].str.isnumeric() == True)]
    
    mta_data['Entry'] = mta_data['Entry'].astype('float')
    mta_data['Exit'] = mta_data['Exit'].astype('float')
    
    mta_data['Date'] = mta_data['Date'].apply(lambda x: convert_datetime(x))
    mta_data = mta_data.merge(location_data,how='inner',on='Remote')
    mta_data = mta_data.merge(weather_data,how='inner',on='Date')
    mta_data = mta_data.set_index(['Remote','Date','Hour','Station','Event']) \
                    .diff() \
                    .fillna(float(0)) \
                    .reset_index()
    mta_data.loc[(mta_data.Entry < 0.0) | (mta_data.Entry > 10000.0), ['Entry','Exit']] = float(0)
    return mta_data
    
def cleanNew(mta_data, weather_data, location_data):
    mta_data.columns = ["Remote", "Date", "Hour", "Entry", "Exit"]
    
    mta_data = mta_data.merge(location_data,how='inner',on='Remote')
    mta_data = mta_data.merge(weather_data,how='inner',on='Date')
    mta_data = mta_data.set_index(['Remote','Date','Hour','Station','Event']) \
                    .diff() \
                    .fillna(float(0)) \
                    .reset_index()
    mta_data.loc[(mta_data.Entry < 0.0) | (mta_data.Entry > 10000.0), ['Entry','Exit']] = float(0)
    return mta_data

In [5]:
print 'Starting on year 2011...'
y2011 = cleanOld(mta_2011, weather_data, location_data)
print 'Starting on year 2012...'#http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
y2012 = cleanOld(mta_2012, weather_data, location_data)
print 'Starting on year 2013...'
y2013 = cleanOld(mta_2013, weather_data, location_data)
print 'Starting on year 2014 (1)...'
y2014_1 = cleanOld(mta_2014_1, weather_data, location_data)
print 'Starting on year 2014 (2)...'
y2014_2 = cleanNew(mta_2014_2, weather_data, location_data)
print 'Starting on year 2015...'
y2015 = cleanNew(mta_2015, weather_data, location_data)
print 'Starting on year 2016...'
y2016 = cleanNew(mta_2016, weather_data, location_data)

Starting on year 2011...

C:\Users\Victor\Anaconda3\envs\python2\lib\site-packages\ipykernel\__main__.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Victor\Anaconda3\envs\python2\lib\site-packages\ipykernel\__main__.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Victor\Anaconda3\envs\python2\lib\site-packages\ipykernel\__main__.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Starting on year 2012...
Starting on year 2013...
Starting on year 2014 (1)...
Starting on year 2014 (2)...
Starting on year 2015...
Starting on year 2016...

In [6]:
print 'Concatenating all the data...'
completeData = pd.concat([y2011,y2012,y2013,y2014_1,y2014_2,y2015,y2016])
print completeData.shape

Concatenating all the data...
(64795106, 7)

In [7]:
completeData.head()

  Remote        Date      Hour Station   Event  Entry  Exit
0   R051  12/25/2010  03:00:00   59 ST  Normal    0.0   0.0
1   R051  12/25/2010  07:00:00   59 ST  Normal    1.0   5.0
2   R051  12/25/2010  09:01:47   59 ST  Normal    4.0  12.0
3   R051  12/25/2010  09:03:29   59 ST  Normal    0.0   0.0
4   R051  12/25/2010  09:05:29   59 ST  Normal    0.0   0.0

In [9]:
y2011.head()

  Remote        Date      Hour Station   Event  Entry  Exit
0   R051  12/25/2010  03:00:00   59 ST  Normal    0.0   0.0
1   R051  12/25/2010  07:00:00   59 ST  Normal    1.0   5.0
2   R051  12/25/2010  09:01:47   59 ST  Normal    4.0  12.0
3   R051  12/25/2010  09:03:29   59 ST  Normal    0.0   0.0
4   R051  12/25/2010  09:05:29   59 ST  Normal    0.0   0.0

In [10]:
y2012.head()

  Remote        Date      Hour Station   Event  Entry  Exit
0   R051  12/31/2011  03:00:00   59 ST  Normal    0.0   0.0
1   R051  12/31/2011  07:00:00   59 ST  Normal    5.0  12.0
2   R051  12/31/2011  11:00:00   59 ST  Normal   49.0  58.0
3   R051  12/31/2011  15:00:00   59 ST  Normal  171.0  47.0
4   R051  12/31/2011  19:00:00   59 ST  Normal  297.0  47.0

In [11]:
y2013.head()

  Remote        Date      Hour Station       Event  Entry  Exit
0   R051  12/29/2012  03:00:00   59 ST  Fog , Snow    0.0   0.0
1   R051  12/29/2012  07:00:00   59 ST  Fog , Snow   19.0  13.0
2   R051  12/29/2012  11:00:00   59 ST  Fog , Snow   80.0  86.0
3   R051  12/29/2012  15:00:00   59 ST  Fog , Snow  231.0  48.0
4   R051  12/29/2012  19:00:00   59 ST  Fog , Snow  308.0  49.0

In [12]:
y2014_1.head()

  Remote        Date      Hour Station   Event  Entry  Exit
0   R051  12/28/2013  03:00:00   59 ST  Normal    0.0   0.0
1   R051  12/28/2013  07:00:00   59 ST  Normal   12.0  15.0
2   R051  12/28/2013  11:00:00   59 ST  Normal   51.0  91.0
3   R051  12/28/2013  15:00:00   59 ST  Normal  212.0  64.0
4   R051  12/28/2013  19:00:00   59 ST  Normal  336.0  70.0

In [13]:
y2014_2.head()

  Remote        Date      Hour       Station Event  Entry  Exit
0   R001  10/11/2014  01:00:00  WHITEHALL ST  Rain    0.0   0.0
1   R001  10/11/2014  05:00:00  WHITEHALL ST  Rain   20.0   6.0
2   R001  10/11/2014  09:00:00  WHITEHALL ST  Rain  130.0  11.0
3   R001  10/11/2014  13:00:00  WHITEHALL ST  Rain  245.0  26.0
4   R001  10/11/2014  17:00:00  WHITEHALL ST  Rain  316.0  39.0

In [14]:
y2015.head()

  Remote        Date      Hour Station   Event  Entry  Exit
0   R051  12/27/2014  03:00:00   59 ST  Normal    0.0   0.0
1   R051  12/27/2014  07:00:00   59 ST  Normal   12.0   2.0
2   R051  12/27/2014  11:00:00   59 ST  Normal   57.0   7.0
3   R051  12/27/2014  15:00:00   59 ST  Normal  222.0   6.0
4   R051  12/27/2014  19:00:00   59 ST  Normal  457.0   5.0

In [15]:
y2016.head()

  Remote        Date      Hour Station Event  Entry  Exit
0   R051  12/26/2015  03:00:00   59 ST  Rain    0.0   0.0
1   R051  12/26/2015  07:00:00   59 ST  Rain    3.0   1.0
2   R051  12/26/2015  11:00:00   59 ST  Rain   74.0   9.0
3   R051  12/26/2015  15:00:00   59 ST  Rain  204.0   7.0
4   R051  12/26/2015  19:00:00   59 ST  Rain  359.0   7.0

In [16]:
completeData.to_csv('clean-mta-data', index=False, encoding='utf-8')