In [1]:
import pandas as pd
import datetime

In [2]:
# mta_2011 = pd.read_csv("dataset/mta-data/MTA_Turnstile_2011.csv", sep=',', header=None, usecols=[1,3,4,6,7])
mta_2012 = pd.read_csv("dataset/mta-data/MTA_Turnstile_2012.csv", sep=',', header=None, usecols=[1,3,4,6,7])
# mta_2013 = pd.read_csv("dataset/mta-data/MTA_Turnstile_2013.csv", sep=',', header=None, usecols=[1,3,4,6,7])
# mta_2014_1 = pd.read_csv("dataset/mta-data/MTA_Turnstile_2014_1.csv", sep=',', header=None, usecols=[1,3,4,6,7])
# mta_2014_2 = pd.read_csv("dataset/mta-data/MTA_Turnstile_2014_2.csv", sep=',', header=None, usecols=[1,6,7,9,10])
# mta_2015 = pd.read_csv("dataset/mta-data/MTA_Turnstile_2015.csv", sep=',', header=None, usecols=[1,6,7,9,10])
# mta_2016 = pd.read_csv("datas-et/mta-data/MTA_Turnstile_2016.csv", sep=',', header=None, usecols=[1,6,7,9,10])

location_data = pd.read_csv("dataset/Remote-Booth-Station.csv", sep=',', usecols=[0,2])
location_data = location_data.drop_duplicates()
location_data = location_data.drop_duplicates(['Remote'], keep='first')

weather_data = pd.read_csv("dataset/clean-weather-data/weather.csv", sep=',', header=None)
weather_data.columns = ['Date','Event']
weather_data = weather_data.fillna('Normal')

C:\Users\Victor\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# print mta_2011.shape
print mta_2012.shape
# print mta_2013.shape
# print mta_2014_1.shape
# print mta_2014_2.shape
# print mta_2015.shape
# print mta_2016.shape

(11015011, 5)

In [4]:
def convert_datetime(dt):
    for fmt in ('%m-%d-%y', '%Y-%m-%d'):
        try:
            return datetime.datetime.strptime(dt, fmt).strftime('%m/%d/%Y')
        except ValueError:
            pass

def cleanOld(mta_data, weather_data, location_data):
    mta_data.columns = ["Remote", "Date", "Hour", "Entry", "Exit"]
    
    # Fixing formats and removing unwanted dates
    #mta_data = mta_data.dropna(how='any')
    #mta_data['Date'] = mta_data['Date'].astype('str')
    #mta_data = mta_data.loc[(mta_data['Date'].str.contains("-") == True)]
    mta_data['Entry'] = mta_data['Entry'].astype('str')
    mta_data['Exit'] = mta_data['Exit'].astype('str')
    mta_data = mta_data.loc[(mta_data['Entry'].str.isnumeric() == True) & (mta_data['Exit'].str.isnumeric() == True)]
    
    mta_data['Entry'] = mta_data['Entry'].astype('float')
    mta_data['Exit'] = mta_data['Exit'].astype('float')
    
    mta_data['Date'] = mta_data['Date'].apply(lambda x: convert_datetime(x))
    mta_data = mta_data.merge(location_data,how='inner',on='Remote')
    mta_data = mta_data.merge(weather_data,how='inner',on='Date')
    mta_data = mta_data.set_index(['Remote','Date','Hour','Station','Event']) \
                    .diff() \
                    .fillna(float(0)) \
                    .reset_index()
    mta_data.loc[(mta_data.Entry < 0.0) | (mta_data.Entry > 10000.0), ['Entry','Exit']] = float(0)
    return mta_data
    
def cleanNew(mta_data, weather_data, location_data):
    mta_data.columns = ["Remote", "Date", "Hour", "Entry", "Exit"]
    
    mta_data = mta_data.merge(location_data,how='inner',on='Remote')
    mta_data = mta_data.merge(weather_data,how='inner',on='Date')
    mta_data = mta_data.set_index(['Remote','Date','Hour','Station','Event']) \
                    .diff() \
                    .fillna(float(0)) \
                    .reset_index()
    mta_data.loc[(mta_data.Entry < 0.0) | (mta_data.Entry > 10000.0), ['Entry','Exit']] = float(0)
    return mta_data

In [5]:
# print 'Starting on year 2011...'
# y2011 = cleanOld(mta_2011, weather_data, location_data)
print 'Starting on year 2012...'http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
y2012 = cleanOld(mta_2012, weather_data, location_data)
# print 'Starting on year 2013...'
# y2013 = cleanOld(mta_2013, weather_data, location_data)
# print 'Starting on year 2014 (1)...'
# y2014_1 = cleanOld(mta_2014_1, weather_data, location_data)
# print 'Starting on year 2014 (2)...'
# y2014_2 = cleanNew(mta_2014_2, weather_data, location_data)
# print 'Starting on year 2015...'
# y2015 = cleanNew(mta_2015, weather_data, location_data)
# print 'Starting on year 2016...'
# y2016 = cleanNew(mta_2016, weather_data, location_data)

Starting on year 2012...

C:\Users\Victor\Anaconda2\lib\site-packages\ipykernel\__main__.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Victor\Anaconda2\lib\site-packages\ipykernel\__main__.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Victor\Anaconda2\lib\site-packages\ipykernel\__main__.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [6]:
y2012.head()

  Remote        Date      Hour Station   Event  Entry  Exit
0   R051  12/31/2011  03:00:00   59 ST  Normal    0.0   0.0
1   R051  12/31/2011  07:00:00   59 ST  Normal    5.0  12.0
2   R051  12/31/2011  11:00:00   59 ST  Normal   49.0  58.0
3   R051  12/31/2011  15:00:00   59 ST  Normal  171.0  47.0
4   R051  12/31/2011  19:00:00   59 ST  Normal  297.0  47.0

In [7]:
print y2012.shape

(11013008, 7)

In [12]:
y2012[190000:200100]

       Remote        Date      Hour       Station   Event   Entry    Exit
190000   R453  01/06/2012  23:00:00   23 ST-6 AVE  Normal   556.0   519.0
190001   R453  01/06/2012  03:00:00   23 ST-6 AVE  Normal     0.0     0.0
190002   R453  01/06/2012  07:00:00   23 ST-6 AVE  Normal    20.0    69.0
190003   R453  01/06/2012  11:00:00   23 ST-6 AVE  Normal   152.0   771.0
190004   R453  01/06/2012  15:00:00   23 ST-6 AVE  Normal   389.0   397.0
190005   R453  01/06/2012  19:00:00   23 ST-6 AVE  Normal  1105.0   611.0
190006   R453  01/06/2012  23:00:00   23 ST-6 AVE  Normal   652.0   238.0
190007   R453  01/06/2012  03:00:00   23 ST-6 AVE  Normal     0.0     0.0
190008   R453  01/06/2012  07:00:00   23 ST-6 AVE  Normal    13.0    57.0
190009   R453  01/06/2012  11:00:00   23 ST-6 AVE  Normal   157.0   637.0
190010   R453  01/06/2012  15:00:00   23 ST-6 AVE  Normal   399.0   335.0
190011   R453  01/06/2012  19:00:00   23 ST-6 AVE  Normal  1006.0   504.0
190012   R453  01/06/2012  23:00:00   23 ST-6 AVE  Normal   520.0   161.0
190013   R453  01/06/2012  03:00:00   23 ST-6 AVE  Normal     0.0     0.0
190014   R453  01/06/2012  07:00:00   23 ST-6 AVE  Normal    18.0    61.0
190015   R453  01/06/2012  11:00:00   23 ST-6 AVE  Normal   149.0   821.0
190016   R453  01/06/2012  15:00:00   23 ST-6 AVE  Normal   414.0   499.0
190017   R453  01/06/2012  19:00:00   23 ST-6 AVE  Normal  1152.0   764.0
190018   R453  01/06/2012  23:00:00   23 ST-6 AVE  Normal   695.0   287.0
190019   R453  01/06/2012  03:00:00   23 ST-6 AVE  Normal     0.0     0.0
190020   R453  01/06/2012  07:00:00   23 ST-6 AVE  Normal    11.0   143.0
190021   R453  01/06/2012  11:00:00   23 ST-6 AVE  Normal   177.0  1506.0
190022   R453  01/06/2012  15:00:00   23 ST-6 AVE  Normal   464.0   857.0
190023   R453  01/06/2012  19:00:00   23 ST-6 AVE  Normal  1090.0  1097.0
190024   R453  01/06/2012  23:00:00   23 ST-6 AVE  Normal   639.0   465.0
190025   R203  01/06/2012  03:00:00   23 ST-6 AVE  Normal     0.0     0.0
190026   R203  01/06/2012  07:00:00   23 ST-6 AVE  Normal    46.0    95.0
190027   R203  01/06/2012  11:00:00   23 ST-6 AVE  Normal   921.0   873.0
190028   R203  01/06/2012  15:00:00   23 ST-6 AVE  Normal   537.0   639.0
190029   R203  01/06/2012  19:00:00   23 ST-6 AVE  Normal  1149.0   739.0
...       ...         ...       ...           ...     ...     ...     ...
200070   R362  01/06/2012  00:00:00  ALLERTON AVE  Normal     0.0     0.0
200071   R362  01/06/2012  04:00:00  ALLERTON AVE  Normal    25.0    20.0
200072   R362  01/06/2012  04:00:00  ALLERTON AVE  Normal     0.0     0.0
200073   R362  01/06/2012  08:00:00  ALLERTON AVE  Normal   369.0    50.0
200074   R362  01/06/2012  12:00:00  ALLERTON AVE  Normal   317.0   103.0
200075   R362  01/06/2012  16:00:00  ALLERTON AVE  Normal   350.0   171.0
200076   R362  01/06/2012  20:00:00  ALLERTON AVE  Normal   250.0   243.0
200077   R362  01/06/2012  00:00:00  ALLERTON AVE  Normal     0.0     0.0
200078   R362  01/06/2012  04:00:00  ALLERTON AVE  Normal    24.0    49.0
200079   R362  01/06/2012  04:00:00  ALLERTON AVE  Normal     0.0     0.0
200080   R362  01/06/2012  08:00:00  ALLERTON AVE  Normal   490.0    50.0
200081   R362  01/06/2012  12:00:00  ALLERTON AVE  Normal   516.0   111.0
200082   R362  01/06/2012  16:00:00  ALLERTON AVE  Normal   420.0   168.0
200083   R362  01/06/2012  20:00:00  ALLERTON AVE  Normal   364.0   338.0
200084   R363  01/06/2012  00:00:00     BURKE AVE  Normal     0.0     0.0
200085   R363  01/06/2012  04:00:00     BURKE AVE  Normal    18.0    16.0
200086   R363  01/06/2012  08:00:00     BURKE AVE  Normal   419.0    31.0
200087   R363  01/06/2012  12:00:00     BURKE AVE  Normal   352.0    53.0
200088   R363  01/06/2012  15:32:55     BURKE AVE  Normal   191.0    63.0
200089   R363  01/06/2012  16:00:00     BURKE AVE  Normal    18.0    19.0
200090   R363  01/06/2012  20:00:00     BURKE AVE  Normal   211.0   136.0
200091   R363  01/06/2012  00:00:00     BURKE AVE  Normal     0.0     0.0
200092   R363  01/06/2012  04:00:00     BURKE AVE  Normal    15.0    18.0
200093   R363  01/06/2012  08:00:00     BURKE AVE  Normal   262.0    19.0
200094   R363  01/06/2012  12:00:00     BURKE AVE  Normal   288.0    28.0
200095   R363  01/06/2012  15:32:55     BURKE AVE  Normal   131.0    47.0
200096   R363  01/06/2012  16:00:00     BURKE AVE  Normal    15.0    20.0
200097   R363  01/06/2012  20:00:00     BURKE AVE  Normal   153.0   101.0
200098   R363  01/06/2012  00:00:00     BURKE AVE  Normal     0.0     0.0
200099   R363  01/06/2012  04:00:00     BURKE AVE  Normal    17.0    32.0

[10100 rows x 7 columns]

In [9]:
# print 'Concatenating all the data...'
# completeData = pd.concat([y2011,y2012,y2013,y2014_1,y2014_2,y2015,y2016])
# print completeData.shape

In [10]:
# completeData.head()

In [11]:
mta_2012.head()

  Remote      Date      Hour    Entry     Exit
0   R051  12-31-11  03:00:00  3456224  1193195
1   R051  12-31-11  07:00:00  3456229  1193207
2   R051  12-31-11  11:00:00  3456278  1193265
3   R051  12-31-11  15:00:00  3456449  1193312
4   R051  12-31-11  19:00:00  3456746  1193359